@charset "utf8";
* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    *height: 100%;
    background-image: linear-gradient(to right,#D9AE89, #D98F4E);
}
main {
    background-color: white;
    width: 600px;
    padding: 10PX;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(46, 33, 9, 0.205);
}
h1{
    color: #56688C;
    text-align: center;
    text-shadow: 1px 1px rgba(24, 22, 22, 0.555)
    ;


}

h2{
    color: #7283A6;


}
p {
    text-align: justify;
}